<form (ngSubmit)="onSubmit()" #authForm="ngForm" class="auth-form">
  <div class="auth-form_container">
    <div class="form-group">
      <label for="name">{{ 'authForm.name' | translate }}</label>
      <input
        #nameInput="ngModel"
        required
        id="name"
        type="text"
        name="name"
        placeholder="{{ 'authForm.namePlaceholder' | translate }}"
        [ngModel]="name()"
        [disabled]="!!currentUser()?.displayName"
        [class.submitted]="submitted()"
        (ngModelChange)="onNameChange($event)"
      />

      @if (
        nameInput.invalid && (nameInput.touched || submitted()) && nameInput.errors?.['required']
      ) {
        <div class="error-message">
          {{ 'authForm.nameRequiredError' | translate }}
        </div>
      }
    </div>

    <div class="form-group">
      <label for="email">{{ 'authForm.email' | translate }}</label>
      <input
        #emailInput="ngModel"
        email
        required
        id="email"
        type="email"
        name="email"
        pattern="^[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,4}$"
        [ngModel]="email()"
        [disabled]="emailDisabled() || !!currentUser()?.email"
        [placeholder]="'authForm.emailPlaceholder' | translate"
        [class.submitted]="submitted()"
        (ngModelChange)="onEmailChange($event)"
      />

      @if (emailInput.invalid && (emailInput.touched || submitted())) {
        @if (emailInput.errors?.['required']) {
          <div class="error-message">
            {{ 'authForm.emailRequiredError' | translate }}
          </div>
        } @else if (emailInput.errors?.['pattern']) {
          <div class="error-message">
            {{ 'authForm.emailError' | translate }}
          </div>
        }
      }
    </div>
  </div>

  @if (showVerifyInput()) {
    <div class="form-group form-group_verify-code">
      <label for="verifyCode">{{ 'authForm.verifyCode' | translate }}</label>

      <input
        #codeInput="ngModel"
        id="verifyCode"
        type="text"
        name="verifyCode"
        pattern="^\d{3}-\d{3}$"
        maxlength="7"
        placeholder="{{ 'authForm.verifyCodePlaceholder' | translate }}"
        [ngModel]="verifyCode()"
        [required]="showVerifyInput()"
        [class.submitted]="submitted()"
        (ngModelChange)="onVerifyCodeChange($event)"
        (input)="onVerifyCodeInput($event)"
      />

      @if (submitted() && codeInput.invalid && codeInput.dirty && codeInput.touched) {
        <div class="error-message">
          @if (codeInput.errors?.['required']) {
            {{ 'authForm.verifyCodeRequiredError' | translate }}
          } @else if (codeInput.errors?.['pattern']) {
            {{ 'authForm.verifyCodeFormatError' | translate }}
          } @else if (codeInput.errors?.['invalid']) {
            {{ 'authForm.verifyCodeInvalidError' | translate }}
          }
        </div>
      }
    </div>
  }
</form>
